<a href="#/" class="home">
    <i class="fa fa-home"></i>
</a>
<div class="mg-top-50">
    <a class="level-button"
       ng-class="key == 0 || Hc.PlayService.levels[key-1].finish ? 'finished' : 'unfinished'"
       ng-href="{{key == 0 || Hc.PlayService.levels[key-1].finish ? '#/play/' + (key+1)  : ''}}"
       ng-repeat="(key,level) in Hc.PlayService.levels">{{key+1}}
        <i class="fa fa-unlock" ng-if="key == 0 || Hc.PlayService.levels[key-1].finish" ></i>
        <i class="fa fa-lock" ng-if="!(key == 0 || Hc.PlayService.levels[key-1].finish)" ></i>
    </a>
</div>